<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacias en LagoShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('css', filename='estilo.css') }}">
</head>
<body>
    <!-- SECCION FARMACIAS -->
    <section id="farmacias">
        <a href="/" class="btn-regresar">
            <i class="fa-solid fa-arrow-left"></i> Regresar
        </a>
        
        <h2>Farmacias</h2>
        <div class="fila">
            <div class="item">
                <div class="icono">
                    <img src="{{ url_for('static', filename='img/medicina1.jpg') }}" alt="Medicamento A">
                </div>
                <div class="info">
                    <h3>Analgésico</h3>
                    <p>Alivia tus dolores de cabeza y corporales con nuestro potente analgésico.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{{ url_for('static', filename='img/medicina2.jpg') }}" alt="Medicamento B">
                </div>
                <div class="info">
                    <h3>Vitaminas</h3>
                    <p>Refuerza tu sistema inmunológico con nuestra selección de vitaminas y suplementos.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{{ url_for('static', filename='img/medicina3.jpg') }}" alt="Medicamento C">
                </div>
                <div class="info">
                    <h3>Antibióticos</h3>
                    <p>Consulta nuestra variedad de antibióticos para combatir las infecciones.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
